{{>header}}
<br><br>
<br><br>
<h1>Acesso negado!</h1>
<p>Você não tem permissão para acessar esta área.</p>
<br>
<img src="/img/no_permissions.svg" style="width: 300px;" alt="Não permitido!">

<script>
    $('header .menu button').removeClass('ativo')
</script>