{{>header_inicial}}

<link rel="stylesheet" href="/css/auditor.css">

<div class="document"></div>

{{!-- {{>footer_inicial}} --}}

<script src="/lib/pdf.js"></script>
<script src="/lib/pdf.worker.js"></script>

<script>

    async function renderAllPdf(doc, elemento) {

        $(elemento).html('Carregando...');
        pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.worker.js";
        var loadingTask = pdfjsLib.getDocument(`/pdfs/${doc}`);

        loadingTask.promise.then(function(pdf) {

            var numPages = pdf._pdfInfo.numPages;

            $(elemento).html('')

            for (let i = 0; i < numPages; i++) {

                pdf.getPage(i + 1).then(function(page) {

                    var scale = 5;

                    var viewport = page.getViewport({
                        scale: scale,
                    });

                    //ID do elemento HTML onde vou imprimir a pagina

                    var id = newId();

                    var canvas = $("<canvas />", {
                        class: 'preview_pdf',
                        id: id,
                    });

                    $(elemento).append(canvas);

                    var canvas = document.getElementById(id);

                    var context = canvas.getContext('2d');

                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    var renderContext = {

                        canvasContext: context,

                        viewport: viewport

                    };

                    page.render(renderContext);

                });

            }

        });
    }

    $(`#gratis, #teste, #entrar`).remove()
    // $(`nav.acoes`).before(`<input type="search" placeholder="Nº do documento" id="buscar_doc">`)
    const meta = JSON.parse('{{{meta}}}');
    console.log("meta");
    console.log(meta);    
    
    const signers = JSON.parse('{{{signers}}}');
    console.log("signers");
    console.log(signers);

    const docu = '{{{doc}}}';
    console.log("docu");
    console.log(docu);


    var sign = {
        signers: signers,
        document: docu,
        metadata: meta,
    }

    function setDocument(sign){

        if(sign == "empty"){
            $(`.document`).html('Vazio')
            return;
        }

        var doc = sign;

        $('.document').append(`<div class="assinadores"></div>`)
        var assinadorHtml = "<h1>Assinadores:</h1>";

        for(assinador of doc.signers){
            if(assinador.cpf != ""){
                assinadorHtml += `<div class="assinador">`
                assinadorHtml += `<img src="/img/faceid/${assinador.foto}">`
                assinadorHtml += `<div class="texto">`
                assinadorHtml += `<span>CPF: ${assinador.cpf}</span>`
                assinadorHtml += `<h2>${assinador.nome}</h2>`
                assinadorHtml += `<span>IpAdress: ${assinador.ipAdress}</span><br>`
                assinadorHtml += `<span class="data">${assinador.date}</span>`
                assinadorHtml += `</div>`
                assinadorHtml += `</div>`
            }
        }

        assinadorHtml += `<br>`
        assinadorHtml += `<h1>Documento:</h1>`

        $(`.assinadores`).html(assinadorHtml)
        $('.document').append(`<div class="pdf"></div>`);

        if(!doc.metadata.content || doc.metadata.content != 'html'){
            renderAllPdf(JSON.parse(doc.document), '.pdf');
        }else{
            $('.document .pdf').append(doc.document);
        }

        console.log(doc);

    }

    setDocument(sign);

</script>