<img src="/img/logo_pipe_para_fundo_branco.svg" style="width: 150px;margin: 30px;margin-bottom: -20px" alt="Sucesso...">
<img src="/img/sucess_pay.svg" style="width: 350px;" alt="Sucesso...">

<h1>Agora você só precisa fazer longin e se divertir!</h1>
<br>
<a href="./login">
    <button class="btmCircular" style="font-weight: 900;font-family: 'Bold';font-size: 16px;background-color: var(--blue);color: white;padding: 14px 23px;">Acessar sistema</button>
</a>