{{>header}}

<link rel="stylesheet" href="/css/count.css">

<script src="/lib/jspdf/pdf.js"></script>
<script src="/lib/jspdf/pdf.sandbox.js"></script>
<script src="/lib/js_pdf/jspdf.js"></script>
<script src="/lib/html2canvas.js"></script>
<script src="/lib/qrcode.js"></script>
<script src="/lib/jspdf/pdf.worker.js"></script>
<script src="/lib/ckeditor/ckeditor.js"></script>

<div class="geral">
    <nav class="sub-menu-count">
        <h1>Configurações</h1>
        <button id="dados" onclick="setFormCount('dados')">Seus dados</button>
    </nav>
    <div class="count-container"></div>
</div>

<script>
    $('.pipes_conectados').remove();
    $('.menu button').removeClass('ativo');
    $('#menu_Conta').addClass('ativo');

    const userCount = JSON.parse('{{{user}}}');

    const metaOrg = JSON.parse('{{{metaOrg}}}');

    const metaCount = JSON.parse('{{{metaOrg}}}');
    const org = JSON.parse('{{{org}}}');

    /*
    console.log("userCount: ")
    console.log(userCount)    
    
    console.log("metaOrg: ")
    console.log(metaOrg)

    console.log("metaCount: ")
    console.log(metaCount)    

    console.log("org: ")
    console.log(org)
    */

    if(metaOrg.apps && metaOrg.apps.includes('hinova_cotacao')){
        $(`.sub-menu-count`).append(`<button id="hinova" onclick="setFormCount('hinova')">Hinova</button>`)
    }

    if(userCount.type == 'master' || userCount.type == 'gestor'){
        $(`.sub-menu-count`)
            .append(`<button id="empresa" onclick="setFormCount('empresa')">Empresa</button>`)
            .append(`<button id="financeiro" onclick="setFormCount('financeiro')">Financeiro</button>`)
            .append(`<button id="equipe" onclick="setFormCount('equipe')">Equipe</button>`)
            .append(`<button id="documentos" onclick="setFormCount('documentos')">Documentos e emails</button>`)
            .append(`<button id="appstore-pipe" onclick="setFormCount('appstore-pipe')">Aplicativos</button>`)
    }


    setFormCount('dados');

    async function setFormCount(tipo){
        $('.sub-menu-count button').removeClass('ativo');
        $(`.sub-menu-count button#${tipo}`).addClass('ativo');

        $(`.count-container`).load(`./html/count/${tipo}.html`);
    }
</script>