<link rel="stylesheet" href="/css/pagina_vendas.css">
<link rel="stylesheet" href="/css/pagina_inicial.css">

<header id="inicial">
    <img id="logo"  src="/img/logo_pipe_para_fundo_branco.svg" alt="Pipedone">

    <i class="fi fi-rr-menu-burger" id="menu" onclick="$('#acessos').animate({right:`0px`},200)"></i>

    <nav id="acessos">

        <i class="fi fi-rr-cross" id="closeMenu" onclick="$('#acessos').animate({right:`-100%`},200)"></i>

        <a href="#solucoes">    
            <button><i class="fi fi-rr-followcollection"></i> Soluções</button>
        </a>
        <a href="#comofunciona">
            <button><i class="fi fi-rr-play"></i> o que é?</button>
        </a>
        <a href="/login">
            <button id="login"><i class="fi fi-rr-user"></i> Entrar</button>
        </a>
        <a href="/agendamento">
            <button class="destaque">Agendar Demonstração</button>
        </a>
    </nav>

</header>

<section id="hero">

    <div class="left">
        <div class="linhabranca"></div>
        <h1>Aumente a eficiência e integre sua empresa de ponta a ponta</h1>
        <p>Tudo no mesmo lugar.</p>
        <div class="servicos">
            <div class="item"><i class="fi fi-rr-square-kanban"></i> Kanban</div>
            <div class="item"><i class="fi fi-rr-attribution-pencil"></i> Assinatura eletrônica</div>
            <div class="item"><i class="fi fi-rr-list-check"></i> Tarefas</div>
            <div class="item"><i class="fi fi-rr-usd-square"></i> Crie e envie orçamentos</div>
            <div class="item"><i class="fi fi-rr-camera"></i> Vistorias</div>
            <div class="item"><i class="fi fi-rr-id-card-clip-alt"></i> Validação de identidade</div>
            <div class="item"><i class="fi fi-rr-hand-holding-usd"></i> CRM</div>
            <div class="item"><i class="fi fi-rr-messages"></i> Comunicação interna</div>
            <div class="item"><i class="fi fi-rr-beacon"></i> Whatsapp</div>
        </div>
        <div class="form">
            {{!-- <input type="text" id="email" placeholder="Digite seu melhor email..."> --}}

            <a href="/agendamento">
                <button><i class="fi fi-rr-calendar-plus"></i> Agendar Demonstração</button>
            </a>
        </div>
    </div>
    <div class="right background"></div>

</section>

<section id="provasocial">
    <span>Empresas que confiam em nós</span>
    <div class="imagens">


        <a target="_blank" href="https://grupomutuo.com.br/">
            <img src="/img/parceiros/mutuo.svg" alt="Pipedone">
        </a>
        <a target="_blank" href="https://avati.com.br/">
            <img src="/img/parceiros/avati.webp" alt="Pipedone">
        </a>

        <a target="_blank" href="https://unifortbeneficios.com.br/">
            <img src="/img/parceiros/unifort.svg" alt="Pipedone">
        </a>

        <a target="_blank" href="https://ifaxina.com">
            <img src="/img/parceiros/ifaxina.svg" alt="Pipedone">
        </a>

    </div>
</section>

<section id="comofunciona">
    <h2>O que é o Pipedone?</h2>
    <p>O Pipedone foi criado para tornar o trabalho mais intuitivo, rápido e produtivo.</p>

    <p>Com um sistema arrasta e solta e um conjunto incrível de ferramentas, o Pipedone é ideal para realizar tarefas, controlar os mais diversos processos e manter a conexão com toda a sua equipe.</p>
        
    <p>Adicione ações automatizadas e aproveite ainda mais seu tempo para fazer o que realmente importa.</p>
    
    <p>Veja abaixo um vídeo que preparamos para uma das empresas que conseguimos atender.</p>
    
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/vilqfb46rFM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>

{{!-- 
<section id="solucoes">

    <div class="quadro">

        <nav class="esquerda">

            <div class="servicos">

                <div onclick="proximoItem('kanban')" class="item ativo" id="q_kanban"><i class="fi fi-rr-square-kanban"></i> Kanban</div>   
                <div onclick="proximoItem('assinatura')" class="item" id="q_assinatura"><i class="fi fi-rr-attribution-pencil"></i> Assinatura eletrônica</div>
                <div onclick="proximoItem('tarefas')" class="item" id="q_tarefas"><i class="fi fi-rr-list-check"></i> Tarefas</div>
                <div onclick="proximoItem('propostas')" class="item" id="q_propostas"><i class="fi fi-rr-usd-square"></i> Crie e envie orçamentos</div>
                <div onclick="proximoItem('vistorias')" class="item" id="q_vistorias"><i class="fi fi-rr-camera"></i> Vistorias</div>
                <div onclick="proximoItem('#service_id')" class="item"><i class="fi fi-rr-id-card-clip-alt"></i> Validação de identidade</div>
                <div onclick="proximoItem('#service_id')" class="item"><i class="fi fi-rr-hand-holding-usd"></i> CRM</div>
                <div onclick="proximoItem('#service_id')" class="item"><i class="fi fi-rr-beacon"></i> Whatsapp</div>
                <div onclick="proximoItem('#service_id')" class="item"><i class="fi fi-rr-messages"></i> Comunicação interna</div>

            </div>
            
        </nav>

        <div class="direita">

            <div class="view" id="v_kanban">
                <div class="text">
                    <h2>Arraste e solte o que precisar</h2>
                    <p>Com nosso kanban altamente personalizável, você consegue controlar projetos, organizar setores, organizar campanhas e muito mais.</p>
                    <span><b>Serve para:</b> Empresas de software, Associações, Escritórios, Fábricas, Oficinas mecânicas, Etc.</span>
                    <button class="solicite">Agende uma Demonstração</button>
                </div>
                <div class="video">
                    <img src="/img/pipe.png" alt="">
                </div>
            </div>

            <div class="view oculto" id="v_assinatura">
                <div class="text">
                    <h2>Assinatura eletrônica</h2>
                    <p>Solicite a assinatura de documentos para seus clientes. Eles vão amar a praticidade!</p>
                    <span><b>Serve para:</b> Empresas de software, Associações, Escritórios, Fábricas, Oficinas mecânicas, Etc.</span>
                    <button class="solicite">Agende uma Demonstração</button>
                </div>
                <div class="video">
                    <img src="/img/selfe_sign.png" alt="">
                </div>
            </div>

            <div class="view oculto" id="v_tarefas">
                <div class="text">
                    <h2>As tarefas da sua equipe sob-controle</h2>
                    <p>Adicione tarefas e acompanhe o progressso do seu time.<br><br>Você pode automatizar conjuntos de tarefas de acordo com a etapa.</p>
                    <span><b>Serve para:</b> Empresas de software, Associações, Escritórios, Fábricas, Oficinas mecânicas, Etc.</span>
                    <button class="solicite">Agende uma Demonstração</button>
                </div>
                <div class="video">
                    <img src="/img/tarefas.png" alt="">
                </div>
            </div>

            <div class="view oculto" id="v_propostas">
                <div class="text">
                    <h2>Propostas</h2>
                    <p>Crie propostas e envie para que seu cliente (interno ou externo) consiga aceitar o orçamento proposto.<br><br> Ele fica ainda mais poderoso com atuomações integradas.</p>
                    <span><b>Serve para:</b> Empresas de software, Associações, Escritórios, Fábricas, Oficinas mecânicas, Etc.</span>
                    <button class="solicite">Agende uma Demonstração</button>
                </div>
                <div class="video">
                    <img src="/img/propostas.png" alt="">
                </div>
            </div>

            <div class="view oculto" id="v_vistorias">
                <div class="text">
                    <h2>Vistorias por link</h2>
                    <p>Solicite fotos ao seu cliente para realizar vistorias.<br><br>Ele registra as fotos seguindo suas orientações.</p>
                    <span><b>Serve para:</b> Empresas de software, Associações, Escritórios, Fábricas, Oficinas mecânicas, Etc.</span>
                    <button class="solicite">Agende uma Demonstração</button>
                </div>
                <div class="video">
                    <img src="/img/propostas.png" alt="">
                </div>
            </div>


        </div>

    </div>

</section> 
--}}


<div class="dobra" id="depoimentos">
    <h2>Nossos clientes nos amam!<br>Sua empresa também vai!</h2>
    <div class="block_texto">

        <div class="texto_voz">
            <p>"show, facilitou demais nossa vida, parabéns... ajudou 100% no precesso, agilizou nossa demanda, rapido e prático, achei top"</p>
            <div class="nome">Alexandre Silva</div>
            <span>Supervisor de vendas</span>
        </div>

        <div class="texto_voz">
            <p>"Em meio da pandemia serviu de ótima ajuda para as nossas vendas,respeitando o distanciamento social."</p>
            <div class="nome">Nathalia Américo</div>
            <span>Vendas</span>
        </div>

        <div class="texto_voz">
            <p>"A Plataforma é moderna e prática, realizar cadastro de aceite digital é auto explicativo, o que torna bastante interessante, quanto aos detalhes, os desenvolvedores estão sempre dispostos a ajustar da melhor forma."</p>
            <div class="nome">Mariza Lopes</div>
            <span>Vendas</span>
        </div>

        <div class="texto_voz">
            <p>"Prático, fácil, importante e intuitivo! Estão de parabéns pela plataforma, tem nos ajudado muito!!!"</p>
            <div class="nome">Adeycson Siebra</div>
            <span>Supervisor de vendas</span>
        </div>

    </div>
</div>


<div class="dobra" id="solucoes">

    <h2>Nossas Soluções</h2>

    <div class="ferramentas" id="tudo_sobre_card">
        <div class="texto">
            <ul>
                <li>Controle tarefas.</li>
                <li>Registre informações.</li>
                <li>Discuta com membros da equipe.</li>
                <li>Envie documentos para assinatura.</li>
                <li>Solicite fotos para vistorias ou fluxos de cadastro.</li>
            </ul>
            <p>Tudo isso <b>sem sair</b> da mesma página.</p>
        </div>
        <img src="/img/card.png" alt="">
    </div>

    <div class="ferramentas" id="">
        <img src="/img/movimentos_card.png" alt="">
        <p>Conecte todos os setores da sua empresa em um <b>único lugar</b>.<br><br>Nunca mais perca vendas ou qualquer outra informação por desorganização.</p>
    </div>

    <div class="ferramentas" id="assinar_documentos">
        <div class="texto">
            <p>Envie documentos para que seus clientes assinem onde eles estiverem.</p><br>
            <p>Com nossa teconlogia de <b>registro facial</b>, permitir facilmente identificar quem assinou o documento.</p>
        </div>
        <img src="/img/selfe_sign.png" alt="">
    </div>

    <div class="ferramentas" id="relatorios">
        <div class="texto">
            <h2>Acompanhe a produtividade da sua equipe</h2>
            <p>O Pipedone gera realatórios automatizadas por data e por membro da sua equipe.</p>
        </div>
        <img src="/img/relatorios_produtividade.png" alt="">
    </div>

</div>


{{>footer_inicial}}

<script>

    var usuario = localStorage.getItem('usuario');
    if(usuario != null){
        let user = JSON.parse(usuario);
        $(`#login`).html('<i class="fi fi-rr-user"></i> ' + user.name.split(' ')[0])
    }
    
    $(`.esquerda .servicos`).slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 3,
        centerMode: false,
        variableWidth: true
    })

    function proximoItem(service_id){
        $('.view').animate({
            left: '-200%'
        },200).addClass('oculto')

        $(`#v_${service_id}`).animate({
            left: '0',
            display: 'flex',
        },200).removeClass('oculto');

        $(`.item`).removeClass('ativo')
        $(`#q_${service_id}`).addClass('ativo')
    }
</script>