{{>header}}
<link rel="stylesheet" href="/css/times.css">

<div class="geral">

    <div class="header">
        <h1>Seu time:</h1>
        <button class="btmCircular" onclick="openAddNewMember()">+ Adicionar membro</button>
    </div>


    <table class="tabela_time"></table>
    <div class="nav_tabela_time"></div>

</div>
<script src="/js/times.js"></script>