<style>

footer {
    display: flex;
    background-color: var(--black);
    color: #ffffff;
    height: auto;
    width: 100%;
    justify-self: center;
    /* left: 50%; */
    padding-bottom: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 30px;
    position: relative;
}

footer h4,
footer ul li  a,
footer ul li {
    color: white;
}

footer h4 {}
footer ul {}
footer ul li  {
    list-style: none;
}

section#footer_2 {
    background-color: var(--blackgray);
    width: 100%;
    color: white;
}

.footer_2 {
    background-color: #AFAFAF;
    color: #4D4D4D;
    text-align: center;
    font-family: 'Regular';
    font-weight: 400;
}

#footer_2 p {
    color: white;
    font-family: 'Regular';
    font-weight: 400;
    font-size: 10px;
    padding: 8px;
    text-align: center;
}
</style>
<footer>
    <!--INICIO FOOTER1 -->

    <div class="empresa ">
        <h4>Empresa</h4>
        <ul>
            <!-- <li><a href="#Nossos valores ">Nossos valores</a></li> -->
            <li><a target="_blank" href="https://pipehuby.com/privacidade.html">Termos de uso e Privacidade</a></li>
            <li><a href="https://www.flaticon.com/br/icones-gratis/alvo" title="alvo ícones">Flaticon</a></li>
        </ul>
        
    </div>
    <div class="siga-nos ">
        <h4>Siga-nos</h4>
        <ul>
            <li><a  target="_blank" href="https://www.instagram.com/pipedonebr">Instagram</a></li>
            <li><a  target="_blank" href="https://wa.me/5584986392600">Whatsapp</a></li>
        </ul>
    </div>
    <div class="acesso_rapido ">
        <h4>Acesso Rápido</h4>
        <ul>
            <li><a  target="_blank" href="https://wa.me/5584986392600">Preciso de Ajuda</a></li>
        </ul>
    </div>
</footer>
<!--FIM FOOTER 1 -->

<section id="footer_2">
    <!--INICIO FOOTER 2 -->
    <p>HUBYTECH SOLUÇOES EM TECNOLOGIA LTDA CNPJ 38.486.958/0001-07. AV AMINTAS BARROS, 3700 SALA 401 BLOCO B COND CORPORATE TOWER CENTER, CEP 59.075-810 - LAGOA NOVA Natal-RN</p>
</section>