.creater {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    max-height: 100%;
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

aside {
    position: absolute;
    width: 20%;
    left: 0%;
    height: 100%;
    overflow: auto;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid var(--linecolor);
}

aside .cabeca {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 12px;
    height: 8%;
    max-height: 10%;
    border-bottom: 1px solid var(--linecolor);
    float: left;
    background-color: var(--branco);
}

aside .cabeca .btmfiltro {
    font-size: 14px;
    cursor: pointer;
}

aside .cabeca .filtro_lista {}

aside .corpo {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 12px;
    overflow: auto;
    float: left;
    height: 80%;
    background-color: var(--branco);
}

aside .corpo h4 {
    position: relative;
    color: var(--black);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
}

aside .corpo .data {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

aside .corpo .data input {
    border: 0;
    background-color: var(--cinza);
    color: var(--black);
    padding: 8px;
    border-radius: 7px;
}

aside .corpo .data i {
    font-size: 10px;
    padding: 3px;
}

aside .corpo select {
    border: 0;
    background-color: var(--cinza);
    color: var(--black);
    padding: 8px;
    border-radius: 7px;
    width: 100%;
}

aside .corpo select option {
    padding: 10px;
}

aside .rodape {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 12px;
    border-top: 1px solid var(--linecolor);
    float: left;
    height: 10%;
    background-color: var(--branco);
}

aside .rodape .btm {
    position: relative;
    width: 100%;
    background-color: var(--blue);
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 900;
    padding: 10px;
    border: 0;
    border-radius: 8px;
}

section.elementos {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--cinza);
}

section.elementos .cabeca {
    position: relative;
    width: 100%;
    background-color: var(--branco);
    border-bottom: 1px solid var(--linecolor);
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 8%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

section.elementos .cabeca div {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section.elementos .cabeca .tagFilter {
    font-size: 11px;
    width: auto;
    word-break: break-word;
    padding: 5px 9px;
    margin-right: 10px;
    background-color: var(--cinza);
    border-radius: 50px;
    cursor: pointer;
    border: 0;
}

section.elementos .corpo {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    max-height: 92%;
    overflow: auto;
}

.div_grafico {
    position: relative;
    width: auto;
    max-width: 100%;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 7px;
    box-shadow: var(--shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
}

.div_grafico .head_grafico {
    margin-bottom: 10px;
}

.div_grafico .head_grafico h1 {
    color: var(--blue);
}

.div_grafico .head_grafico span {
    color: var(--blackgray);
    font-size: 12px;
    margin-top: -3px;
    position: relative;
    float: left;
}

.numeros {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--cinza);
    border-radius: 7px;
}

.numero {
    padding: 10px;
    text-align: center;
}

.numero h2 {}

.numero span {
    font-size: 12px;
    color: var(--blackgray);
}

canvas#grafico {
    position: relative;
    width: auto;
    height: 140px;
    background-color: transparent;
    margin-top: 10px;
}

section.elementos .cabeca .tagFilter.active {
    background-color: var(--blue);
    color: white;
    font-weight: 900;
}

i#fullScreen {
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 9999;
}

header {
    z-index: 1;
}

.elementos.fullscrenn {
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}