.openCard {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--branco);
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 5px -2px black;
}

.openCard .dados,
.openCard .history {
    padding: 20px;
    position: relative;
    height: 100%;
    overflow: auto;
    width: 40%;
    border-right: 1px solid var(--linecolor);
}

.openCard .dados {
    width: 38%;
}

.openCard .history {
    width: 42%;
}

.openCard .movements {
    width: 20%;
    background-color: transparent;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.openCard .movements button.step {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    height: 50px;
    border: 0px;
    text-align: left;
    padding: 10px 18px;
    transition: 0.2s;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
}

.openCard .movements button.step:hover {
    box-shadow: 0px 0px 5px -2px black;
}

.openCard .movements button.step i {
    color: white;
    font-size: 22px;
    display: flex;
}

.openCard .movements h4 {
    z-index: 0;
    font-size: 18px;
    text-align: left;
    width: 100%;
}

.openCard nav.menu01 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.openCard nav.menu01 .menu {
    transition: 0.2s;
    color: var(--blackgray);
    padding-left: 2px;
    padding-right: 20px;
}

.openCard nav.menu01 .menu:hover,
.openCard nav.menu01 .menu:hover i {
    color: var(--verde);
}

.openCard nav.menu01 #idcard {
    color: var(--blueshtrans);
}

.openCard nav.menu02,
.openCard nav.menu03 {
    /* margin-top: 10px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;
}

.openCard nav.menu02 .btmCircular,
.openCard nav.menu03 .btmCircular {
    margin-right: 5px;
    margin-bottom: 5px;
}

.openCard nav.menu03 .btmCircular .fi.fi-rr-edit {
    position: relative;
    top: 0;
    right: 0;
    font-size: 12px;
    cursor: pointer;
}

a.file {
    padding: 10px;
    background-color: var(--verde);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#closeCard {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--blueshtrans);
    color: var(--branco);
    width: 23px;
    height: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 999;
    cursor: pointer;
}

#deleteCard {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--blue);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0px 0px 6px -3px black;
    border: 0;
}

#deleteCard i {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 3px;
}

.openCard #title {
    font-size: 22px;
    color: var(--text);
    margin-bottom: 2px;
    width: 100%;
    border: 0;
}

.openCard #title:focus {
    background-color: var(--offblue);
}

.openCard span#idcard {
    font-size: 12px;
    color: var(--verde);
}

.openCard h2.fase {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 12px;
    color: var(--blackgray);
}

.openCard b#faseAtual {
    background-color: var(--cinza);
    color: var(--black);
    padding: 2px 6px;
    border-radius: 5px;
    margin-left: 3px;
}

.openCard h2 {
    font-size: 18px;
}

.openCard hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.openCard .addcoment {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding: 5px;
    padding-left: 0;
}

.openCard textarea#comentario {
    width: 94%;
    margin-left: 10px;
    border: 1px solid var(--linecolor);
    color: black;
    border-radius: 0 10px 10px 10px;
    font-size: 14px;
    min-width: 94%;
    max-width: 94%;
    position: relative;
    padding: 6px;
    margin-top: 1px;
    height: 36px;
    min-height: 36px;
}

.openCard .oculto {
    display: none;
}

.openCard .exibi_comentarios {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.openCard .comentario {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -5px;
    margin-top: 12px;
}

.openCard .comentario i.fi {
    padding: 5px;
    background-color: var(--offblue);
    color: var(--blueshadow);
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
}

.openCard .comentario h4 {
    margin-bottom: 0px;
    margin-top: 3px;
    font-weight: 100;
}

.openCard span {
    font-size: 12px;
    color: var(--blackgray);
}

.openCard .texto {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    color: var(--blackgray);
    position: relative;
}

.openCard .texts {
    width: 100%;
}

.gost {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 2px dashed var(--linecolor);
    color: var(--blackgray);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}

.gost:hover {
    color: var(--verde);
}

button.link {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0;
    color: var(--blue);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}

button.link:hover {
    text-decoration: underline;
}

.openCard .newTask {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.openCard .newTask input {
    margin-right: 10px;
}

.openCard label.labelTask {
    width: 94%;
    height: auto;
    background-color: var(--branco);
    padding: 5px;
    border: 1px solid transparent;
    cursor: text;
    margin-left: 10px;
    font-size: 14px;
    color: var(--blackgray);
    transition: 0.2s;
}

.openCard .newTask i.fi {
    font-size: 12px;
    margin-bottom: -1px;
    color: var(--blackgray);
}

.openCard .newTask i.fi.fi-rr-cross {
    font-size: 12px;
    margin-bottom: -1px;
    color: var(--blackgray);
    display: none;
    transition: 0.2s;
    cursor: pointer;
}

.openCard label.labelTask:focus {
    width: 100%;
    height: auto;
    background-color: var(--branco);
    padding: 5px;
    border: 1px solid var(--blueshtrans);
    cursor: text;
}

.openCard .exibi_taks .newTask {
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: 0.2s;
}

.openCard .exibi_taks .newTask:hover {
    border-top: 1px solid var(--linecolor);
    border-bottom: 1px solid var(--linecolor);
}

.openCard .exibi_taks .newTask:hover i.fi.fi-rr-cross {
    display: block;
}

.openCard .exibi_taks label.labelTask {
    margin-left: 0px;
}

.openCard #texNotes {
    overflow: auto;
    /* max-height: 300px; */
    width: 100%;
    height: 430px;
    margin-top: 10px;
    border: 0;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--offyellow);
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.openCard #tasks input:checked~label.labelTask {
    text-decoration: line-through
}

.lista-de-forms {
    position: relative;
    max-width: 400px;
    width: 100%;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px -3px black;
}

.lista-de-forms i.fi.fi-rr-cross {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
}

.lista-de-forms h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

div#setForms {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 0px;
    /* background-color: var(--cinza); */
}

textarea {
    margin: 0;
}

div#setForms textarea {
    width: 100%;
    height: 82px;
    /* resize: none; */
    background-color: var(--branco);
    border: 1px solid transparent;
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid var(--linecolor);
    max-width: 100%;
    min-width: 100%;
}

div#setForms h1 {
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
}

div#setForms h4.titulo {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: 'Regular';
    width: 100%;
}

div#setForms p {
    font-size: 14px;
    margin-bottom: 20px;
}

textarea,
input[type="tel"],
input[type="date"],
input[type="time"],
select,
input[type="text"] {
    padding: 10px;
    width: 100%;
    color: var(--black);
    background-color: var(--cinza);
    border: 0;
    transition: 0.2s;
}

textarea:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="text"]:focus {
    color: var(--black);
    background-color: var(--branco);
    border-bottom: 1px solid var(--linecolor);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 10px;
}

input[type="date"] {
    width: auto;
}

input[type="time"] {
    width: auto;
}

div#setForms label {
    width: 100%;
    margin-bottom: 6px;
    font-size: 14px;
    background-color: var(--cinza);
    cursor: pointer;
}

div#setForms label.titulo {
    margin-top: 20px;
}

div#setForms label.new {
    width: auto;
    position: relative;
    float: left;
    padding: 8px;
    font-size: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Bold';
}

.container {
    width: 100%;
}

.concluidas {
    margin-top: 10px;
    opacity: 0.5;
    border-top: 1px solid var(--linecolor);
    width: 100%;
    position: relative;
}

.concluidas h4 {
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    cursor: pointer;
}

.concluidas h4 i {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    margin-right: 5px;
}

.concluidas h4:hover {
    opacity: 1;
}

button.excluir {
    position: relative;
    padding: 10px 14px;
    background-color: red;
    color: white;
    font-family: 'Bold';
    border-radius: 50px;
    border: 0;
    font-size: 12px;
    height: 34px;
    cursor: pointer;
}

button.excluir i {
    color: white;
}

button.gerar {
    position: relative;
    padding: 10px 14px;
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
    border-radius: 50px;
    border: 0;
    font-size: 12px;
    height: 34px;
    cursor: pointer;
}

button.gerar i {
    color: white;
}

.elemento {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.elemento.editing {
    border: 1px dashed var(--linecolor);
    padding: 10px;
}

#saveEditFormInCard {
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
}

.elemento.editing h4 {
    border-bottom: 1px solid var(--linecolor);
}

.elemento.editing h6 {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: red;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.signatures {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.signatures .first {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: var(--cinza);
    border-radius: 10px;
    margin-top: 10px;
    z-index: 1;
    width: 100%;
}

.signatures .first canvas {
    width: 110px;
    margin-right: 10px;
    border: 1px solid var(--linecolor);
    border-radius: 7px;
}

.signatures .first .texts {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.signatures .first .texts .title {
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

.signatures .first .texts .numberSignes {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.signatures .first .texts .numberSignes .number {
    position: relative;
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.signatures .first .texts .numberSignes .number i {
    font-size: 14px;
    color: var(--verde);
}

.signatures .first .texts .numberSignes .number span {
    font-size: 14px;
    margin-left: 2px;
    color: var(--verde);
}

.signatures .first .revogar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 0;
    background-color: var(--black);
    padding: 3px 10px;
    border-radius: 16px;
    color: var(--branco);
    font-family: 'Bold';
    font-size: 12px;
    cursor: pointer;
}

.signatures .second {
    position: relative;
    width: 100%;
    padding: 8px;
    background-color: var(--easygreen);
    border-radius: 10px;
    padding-top: 16px;
    margin-top: -8px;
    z-index: 0;
}

.signatures .second input {
    color: white;
    font-family: 'Bold';
    position: relative;
    width: 100%;
    z-index: 0;
    border: 0;
    background-color: transparent;
}

.signatures .second button.copiar {
    position: absolute;
    right: 10px;
    background-color: white;
    border: 0;
    padding: 3px 10px;
    border-radius: 15px;
    color: var(--verde);
    font-family: 'Bold';
    cursor: pointer;
    font-size: 12px;
}

#div_open_document {
    position: relative;
    background-color: var(--branco);
    width: 100%;
    height: 97vh;
    max-width: 1000px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    border: 1px solid var(--linecolor);
}

#div_open_document .preview {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

#div_open_document .preview .menutop {
    position: absolute;
    width: 100%;
    background-color: rgb(36 36 36);
    padding: 10px;
    top: 0;
    left: 0;
    height: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#div_open_document .preview .menutop h3 {
    color: #ffffff;
    font-size: 12px;
}

#div_open_document .preview .paginas {
    position: absolute;
    width: 100%;
    top: 7%;
    background-color: #545358;
    height: 93%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

#div_open_document .preview .paginas canvas {
    width: 94%;
    margin-bottom: 10px;
}

#div_open_document .aside {
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    left: 70%;
}

#div_open_document .aside .history {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: var(--branco);
    padding: 20px;
    overflow: auto;
}

#div_open_document .aside .history h3 {
    margin-bottom: 10px;
}

#div_open_document .aside .botoes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow);
    background-color: var(--branco);
}

#div_open_document .aside .botoes h3 {
    margin-bottom: 20px;
}

#div_open_document .aside .botoes button {
    background-color: var(--blue);
    width: 100%;
    color: white;
    margin: 0;
}

i#close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    cursor: pointer;
}

#baixarCopia {
    background-image: url(../img/baixar.svg);
    background-position: 95%;
    background-size: 19px;
    background-repeat: no-repeat;
    border-left: 30px;
    text-align: left;
    border-radius: 10px;
    height: 46px;
}

.signers {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

div.sign {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

div.sign .head {
    position: relative;
    background-color: transparent;
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-image: url(../img/fingerprint.svg);
    background-position: 107% 20%;
    background-repeat: no-repeat;
    background-size: 70px;
    cursor: pointer;
}

div.sign .head .text {
    width: 60%;
}

div.sign .head .text span {
    font-size: 10px;
    color: #545358;
}

#div_open_document .aside .history div.sign .head .text h3 {
    font-size: 14px;
    margin-bottom: 0px;
    color: #545358;
}

div.sign .head img {
    height: 50px;
    margin: 5px;
    border-radius: 50px;
}

div.sign .body {
    position: relative;
    display: none;
}

div.sign .body input[type="url"],
div.sign .body button {
    position: relative;
    width: 100%;
    float: left;
    background-color: var(--blue);
    margin-bottom: 10px;
    padding: 5px;
    border: 0;
    border-radius: 50px;
    height: 44px;
    cursor: pointer;
    transition: 0.2s;
}

div.sign .body input[type="url"] {
    /* border-radius: 5px; */
    background-color: white;
    color: black;
    text-align: left;
    padding: 12px;
    font-size: 12px;
    padding-right: 83px;
    background-image: url(../img/copiar.svg);
    background-position: 96%;
    background-repeat: no-repeat;
    background-size: 72px;
}

div.sign .body button:hover {
    background-color: var(--blue);
    font-family: 'Bold';
}

div.sign .foot {
    position: relative;
    text-align: center;
    font-size: 10px;
    background-color: var(--cinza);
    padding: 5px;
    width: 100%;
}

#novoAssinador {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    color: var(--blue);
    text-decoration: underline;
    font-family: 'Bold';
}

.addEmail {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: var(--cinza);
    display: none;
}

.addEmail button#addSignatario {
    padding: 10px 14px;
    border: 0;
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.addEmail input[type="email"] {
    padding: 10px;
    border: 1px solid var(--linecolor);
    background-color: white;
    width: 100%;
    margin: 0;
    padding-left: 37px;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px;
    margin-bottom: 10px;
    border-radius: 7px;
}

#modal_aviso {
    z-index: 999999;
}

div#aviso button#fechar_aviso {
    padding: 10px 16px;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: var(--black);
    font-weight: 800;
    text-align: left;
    cursor: pointer;
}

div#aviso button#prosseguir {
    padding: 10px 16px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    text-align: left;
    cursor: pointer;
}

div#aviso h1 {
    color: var(--black);
}

div#aviso p {
    color: var(--black);
    font-size: 12px;
}

#qrcode {
    display: none;
}

img#teste {
    height: 200px;
    margin-top: 20px;
}

button.arquivarSignature {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    background-color: red;
    border: 0;
    padding: 3px 10px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    font-family: 'bold';
    cursor: pointer;
}

.paginas .pagina {
    position: relative;
    width: 90%;
    background-color: white;
    padding: 30px;
}

div.foto {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: var(--cinza);
    margin-top: 10px;
    border-radius: 7px;
    float: left;
}

div.foto span {
    font-size: 10px;
    color: var(--blue);
}

div.foto h6 {
    font-size: 14px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--black);
}

div.foto h6:hover {
    text-decoration: underline;
}

div.foto input {
    width: 100%;
    padding: 5px;
    border: 0;
    background-color: var(--branco);
    border-radius: 50px;
    background-color: white;
    color: black;
    text-align: left;
    padding: 12px;
    font-size: 12px;
    padding-right: 83px;
    background-image: url(../img/copiar.svg);
    background-position: 96%;
    background-repeat: no-repeat;
    background-size: 72px;
    cursor: pointer;
}

div.foto button.arquivarSignature {
    bottom: none;
    height: 30px;
    top: 10px;
}

div.foto table {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    text-align: left;
    background-color: var(--linecolor);
    margin-bottom: 10px;
    border-radius: 7px;
}

div.foto .trTotal td {
    max-width: 120px;
    border-top: 1px solid var(--cinza);
    padding-top: 5px;
}

div.foto .status {
    position: relative;
    width: auto;
    padding: 5px 10px;
    background-color: var(--verde);
    border-radius: 50px;
    float: left;
    font-size: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    height: 22px;
}

div.foto .status.icon {
    font-size: 14px;
    width: 22px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bluedark);
    margin-left: 3px;
}

div.foto .status.icon i {
    display: flex;
    color: white;
}

div.foto table {
    position: relative;
    width: 100%;
    float: left;
}

div.foto h2 {
    margin-top: 10px;
    font-size: 14px;
}

.openCard .biometria {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* margin-left: -5px; */
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: var(--blue);
    padding: 12px;
    border-radius: 12px;
}

.openCard .biometria img {
    padding: 5px;
    background-color: var(--offblue);
    color: var(--blueshadow);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 10px;
}

.openCard .biometria span {
    color: white;
}

.openCard .biometria h4 {
    margin-bottom: 0px;
    margin-top: 3px;
    font-weight: 100;
    color: white;
}

label.gost {
    position: relative;
    float: left;
    text-align: center;
    font-size: 12px;
    font-family: 'Bold';
}

div#setAnexos {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

div#setAnexos .capsula {
    position: relative;
    max-width: 140px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    background-color: var(--cinza);
    transition: 0.2s;
}

div#setAnexos .capsula:hover {
    box-shadow: var(--shadow);
}

div#setAnexos a.pending {
    opacity: 0.2;
}

div#setAnexos .capsula label {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

div#setAnexos .arquivo {
    background-image: url(../img/mock_type_doc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: auto;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'black';
    font-size: 22px;
    margin: 10px;
    border-radius: 8px;
}

div#setAnexos a {
    position: relative;
}

div#setAnexos .capsula h4 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14px;
    top: 66px;
}

i.close.fi.fi-rr-cross-circle {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: red;
    cursor: pointer;
    z-index: 10;
    display: none;
}

div#setAnexos .capsula:hover i.close.fi.fi-rr-cross-circle {
    display: block;
}

.minitoggle {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 10px;
    top: -13px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    box-shadow: var(--shadow);
    float: left;
    display: none;
}

.minitoggle input[type="text"] {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    color: black;
}

.minitoggle h6 {
    margin-bottom: 5px;
    color: var(--branco);
}

.minitoggle a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--blue);
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.add button {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
}

.add button:hover {
    background-color: var(--cinza);
}

.person {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 6px 3px;
    border-radius: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    height: 30px;
}

.person label {
    color: white;
    /* float: left; */
    font-family: 'Black';
    width: auto;
    float: left;
    font-size: 10px;
    padding: 5px;
}

.list .person label {
    cursor: pointer;
}

.person img {
    cursor: pointer;
    width: 20px;
    margin: 3px;
}

.resultSearch {
    max-height: 300px;
    overflow: auto;
}

.cores label {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cores label input {
    cursor: pointer;
}

.cores {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    float: left;
}

.add button.btmCircular {
    background-color: var(--blue);
    color: white;
}

#datas-calendar {
    padding: 10px;
    background-color: var(--white);
    position: relative;
    box-shadow: var(--shadow);
    height: auto;
    float: left;
    border-radius: 7px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
    left: 0;
}

#datas-calendar .botoes {
    justify-content: space-between;
}

#datas-calendar .botoes button {}

#calendar {
    padding: 5px;
    position: relative;
    float: left;
}

#calendar .day {
    position: relative;
    float: left;
    padding: 10px;
    cursor: pointer;
    width: 14.285714286%;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 5px;
}

#calendar .day:hover {
    background-color: var(--blue);
    color: white;
}

.selected {
    background-color: var(--blue);
    color: white;
}

nav.calendar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav.calendar div {
    border: 0;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 12px;
    transition: 0.2s;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

nav.calendar div input {
    border: none;
    color: var(--white);
    border-bottom: 2px solid var(--black);
    background-color: var(--cinza);
    padding: 5px;
}

nav.calendar button {
    border: 0;
    cursor: pointer;
}

div.monthDisplay {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

div.monthDisplay button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

div.monthDisplay button i {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.day+#currentDay {
    text-decoration: underline;
}

div.diasDaSemana {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    background-color: var(--cinza);
    border-radius: 5px;
}

div.diasDaSemana .dia {
    font-family: 'bold';
    font-size: 14px;
}

.delete {
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    padding: 11px 5px;
    font-size: 12px;
    cursor: pointer;
    color: var(--blue);
    text-decoration: underline;
    border: 0;
    background-color: transparent;
}

.movements h6 {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--blue);
}

div.sanfona {
    position: relative;
    width: 100%;
    padding-left: 10px;
}

.menu-card {
    display: none;
}

.exibi_taks {
    width: 100%;
}

.novoCampo {
    padding: 10px;
    background-color: var(--cinza);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
}

h4.title {
    padding: 5px;
    border-bottom: 1px solid var(--linecolor);
    margin-bottom: 5px;
    background-color: var(--branco);
    font-size: 14px;
    transition: 0.2s;
    padding-bottom: 1px;
}

h4.title:focus {
    background-color: var(--offblue);
}

select#novocampo_type {
    width: 100%;
    background-color: var(--branco);
    padding: 8px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 26px;
    background-image: url(../img/svg/fi-rr-apps.svg);
    background-position: 10px;
    background-size: 12px;
    background-repeat: no-repeat;
}

select#novocampo_type.text {
    background-image: url(../img/svg/fi-rr-align-left.svg);
}

select#novocampo_type.textarea {
    background-image: url(../img/svg/fi-rr-align-justify.svg);
}

select#novocampo_type.radio {
    background-image: url(../img/svg/fi-rr-circle-small.svg);
}

select#novocampo_type.checkbox {
    background-image: url(../img/svg/fi-rr-checkbox.svg);
}

select#novocampo_type.data {
    background-image: url(../img/svg/fi-rr-calendar.svg);
}

select#novocampo_type.hora {
    background-image: url(../img/svg/fi-rr-clock-two.svg);
}

select#novocampo_type.year {
    background-image: url(../img/svg/fi-rr-calendar.svg);
}

select#novocampo_type.phone {
    background-image: url(../img/svg/fi-rr-phone-call.svg);
}

select#novocampo_type.cpf {
    background-image: url(../img/svg/fi-rr-id-badge.svg);
}

select#novocampo_type.placa {
    background-image: url(../img/svg/fi-rr-car-alt.svg);
}

select#novocampo_type.file {
    background-image: url(../img/svg/fi-rr-clip.svg);
}

.setNovoCampo {
    background-color: var(--branco);
    padding: 10px;
}

.setNovoCampo div.label {
    padding: 10px;
    background-color: var(--offblue);
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
}

.setNovoCampo input[type="email"],
.setNovoCampo input[type="number"],
.setNovoCampo input[type="year"],
.setNovoCampo input[type="time"],
.setNovoCampo input[type="date"],
.setNovoCampo input[type="tel"],
.setNovoCampo input[type="text"],
.setNovoCampo textarea {
    width: 100%;
    padding: 10px;
    border: 0px;
    background-color: var(--cinza);
}

#divforms button.btmCircular {
    margin-bottom: 10px;
}

.setNovoCampo button.btmCircular.btmNovoCampo {
    background-color: var(--blue);
    color: white;
    margin-top: 10px;
    height: 38px;
    width: 102px;
    font-family: 'Bold';
    /* float: right; */
}

.setNovoCampo label.text {
    margin-left: 5px;
    font-size: 12px;
}

.setNovoCampo div.label i.fi.fi-rr-cross {
    position: absolute;
    left: 92%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 15px;
    cursor: pointer;
}

.back {
    rotate: 180deg;
}

@media (max-width: 750px) {
    .openCard {
        position: fixed;
        width: 100%;
        height: 90%;
        top: 0;
        background-color: var(--branco);
        border-radius: 0;
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0px 0px 5px -2px black;
    }
    .openCard nav.menu-card {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        padding: 10px;
        background-color: var(--branco);
        border-top: 1px solid var(--linecolor);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        z-index: 9999;
    }
    .openCard nav.menu-card button.circle {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        border: 0;
        background-color: var(--linecolor);
    }
    .openCard nav.menu-card button.circle.ativo {
        background-color: var(--blue);
    }
    .openCard .history,
    .openCard .dados,
    .openCard .movements {
        width: 100%;
        background-color: transparent;
        position: relative;
        height: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        overflow: auto;
        position: fixed;
        background-color: var(--branco);
        right: -100%;
        border: 0;
    }
    .openCard .dados {
        right: 0px;
    }
}