.quadro {
    background-color: white;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    position: relative;
    height: auto;
    max-height: 90%;
    overflow: auto;
    width: 100%;
    max-width: 500px;
}

button#prosseguir {
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
}

div#camposExport {
    margin-top: 10px;
    width: 100%;
}

div#camposExport label {
    width: 100%;
    position: relative;
    float: left;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--linecolor);
    margin-bottom: 5px;
    border-radius: 7px;
}

div#camposExport h4 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

div#camposExport p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

div#camposExport label input {
    margin-right: 5px;
}

div#camposExport .link {
    position: relative;
    float: left;
    width: auto;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    color: var(--blue);
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

div#camposExport .datas {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

div#camposExport .datas .float label {
    width: 100%;
    position: relative;
    float: left;
    padding: 0px;
    cursor: pointer;
    border: 0;
    margin-bottom: 5px;
    border-radius: 0px;
}

div#camposExport .datas .float input {
    width: 100%;
    position: relative;
    float: left;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--linecolor);
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: var(--branco);
}

div#camposExport .datas .float {
    margin-right: 16px;
}

div#camposExport .obrigatorio {
    color: red;
    font-size: 10px;
}

.planilha {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: var(--cinza);
    color: var(--black);
    margin-bottom: 10px;
}

label#upload {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    border: 2px dashed var(--linecolor);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--blackgray);
    text-align: center;
    border-radius: 7px;
}

label#upload i {
    color: var(--blackgray);
}

label#upload.ativo i,
label#upload.ativo {
    color: var(--green);
}

label#upload.ativo {
    border: 2px solid var(--offgreen);
    background-color: var(--offgreen);
}

.row {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza);
}

.row select {
    padding: 10px;
    background-color: white;
    border: 1px solid var(--linecolor);
    border-radius: 7px;
    text-transform: capitalize;
}

.row label {
    font-size: 12px;
}

.row span {
    font-size: 10px;
    font-family: "Bold";
}

.row.title {
    background-color: transparent;
    margin-bottom: -5px;
}

.organizar h4 {
    margin-top: 28px;
    text-transform: capitalize;
}