header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--branco);
    border-bottom: 1px solid var(--linecolor);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

header ::-webkit-scrollbar {
    width: 0px;
}

header img,
header svg {
    max-height: 30px;
}

header .logo,
header .logoicone {
    height: 28px;
    cursor: pointer;
}


/* header .logo path {
    fill: var(--blue);
} */

header .logoicone {
    display: none;
}

.logotop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid var(--linecolor);
    padding-left: 8px;
}

header .menu button {
    padding: 5px 10px;
    margin: 2px 5px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 200;
    background-color: transparent;
    letter-spacing: 1px;
    transition: .2s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header .menu button:hover {
    background-color: var(--cinza);
}

header .menu button.active {
    background-color: var(--black);
    color: var(--branco);
}

header .menu button span {
    color: var(--black);
    position: relative;
    margin: 3px;
}

header .menu button.ativo {
    background-color: var(--blue);
    color: white;
    font-weight: 900;
}

header .menu button.ativo span {
    color: white;
    position: relative;
    margin: 3px;
}

header .menu button i,
header .menu button i.fi.fi-rr-apps {
    color: var(--black);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 12px;
    width: 12px;
}

header .menu button.ativo i,
header .menu button i.fi.fi-rr-apps {
    color: white;
}

header .ferramentas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

header .ferramentas img {
    height: 20px;
    cursor: pointer;
}

header .ferramentas button.usuario {
    background-color: transparent;
    border: 0;
    border-left: 1px solid var(--linecolor);
    height: 30px;
    padding: 5px 17px;
    margin-left: 5px;
    cursor: pointer;
    background-image: url(../img/smile.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 32px;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 12px;
}

button.menu,
header .ferramentas button.pipes_conectados,
header .ferramentas button.pessoas {
    background-color: transparent;
    border: 0;
    height: 30px;
    padding: 5px 10px;
    margin-left: 0px;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 12px;
    color: var(--text);
}

button.pessoas i {
    font-size: 21px;
}

.modalpop {
    position: absolute;
    width: 300px;
    height: auto;
    max-height: 400px;
    background-color: white;
    z-index: 90;
    padding: 10px;
    box-shadow: var(--shadow);
    right: 142px;
    top: 44px;
    border-radius: 5px;
    color: black;
    display: none;
    overflow: auto;
    padding-bottom: 30px;
}

.modalpop input[type="search"] {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: var(--branco);
    color: var(--black);
    border: 1px solid var(--linecolor);
}

.modalpop label {
    color: black;
    position: relative;
    width: 100%;
    float: left;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 2px;
    background-color: var(--offblue);
    border-radius: 5px;
    margin-top: 2px;
    transition: 0.1s;
}

.modalpop h2 {
    font-size: 14px;
    color: black;
}

.modalpop label input {
    cursor: pointer;
}

.modalpop label:hover {
    box-shadow: var(--shadow);
}

.modalpop#pessoas {
    right: 290px;
}

#chat {
    background-color: var(--branco);
    position: fixed;
    width: 300px;
    height: 500px;
    z-index: 99999999999;
    padding: 0px;
    box-shadow: var(--shadow);
    right: 20px;
    bottom: 90px;
    border-radius: 5px;
    color: black;
    display: none;
    overflow: hidden;
}

.chat_btm {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-height: 60px;
    min-width: 60px;
    height: 60px;
    background-image: url(../img/comente.svg);
    background-color: var(--blue);
    padding: 9px;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 0;
    font-family: 'Black';
    color: white;
    cursor: pointer;
    font-size: 22px;
}

#agenda {
    display: none;
}

.notify {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 100%;
    max-width: 400px;
    float: left;
    height: auto;
    max-height: 90vh;
    overflow: auto;
    z-index: 10049999;
    background-color: transparent;
    display: block;
    padding: 5px;
}

.notify .notification {
    position: relative;
    background-color: var(--branco);
    z-index: 9999999;
    color: var(--black);
    padding: 20px;
    border-radius: 50px;
    float: right;
    width: auto;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    border: 1px solid var(--linecolor);
    word-break: break-word;
    cursor: pointer;
}

.buscaTudo {
    position: relative;
}

.divBuscaTudo {
    position: absolute;
    background-color: white;
    padding: 12px;
    box-shadow: var(--shadow);
    border-radius: 7px;
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
    width: 350px;
    display: none;
}

.line {
    width: 100%;
    position: relative;
    padding: 10px;
    cursor: pointer;
    background-color: var(--branco);
    transition: 0.2s;
    border-bottom: 1px solid var(--linecolor);
}

.line:hover {
    background-color: var(--cinza);
}

.divBuscaTudo h2 {
    font-size: 14px;
}

span.id {
    font-size: 12px;
    color: var(--blue);
}

@media (max-width: 520px) {
    header .logoicone {
        display: block;
    }
    header .logo {
        display: none;
    }
}

@media (max-width: 530px) {
    header {
        position: fixed;
        top: 0px;
        /* bottom: 0px; */
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: var(--branco);
        border-bottom: 0px;
        border-top: 1px solid var(--linecolor);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        height: 8%;
    }
    header .ferramentas button.pessoas span,
    header .menu button span {
        display: none;
    }
    header .ferramentas button.pessoas i,
    header .menu button i.fi.fi-rr-apps,
    header .menu button i {
        color: var(--black);
        font-size: 16px;
    }
    header .ferramentas button.pessoas span {
        display: none;
    }
}

#seuchat {
    width: 34px;
}


#notifications {
    position: relative;
    background-color: transparent;
    border: 0;
    height: 30px;
    padding: 5px 10px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--text);
    
  }
  #notificationsNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 12px;
    right: 8px;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 10px;
    color: #ffffff;
  }
  .notificationsContainer {
    padding: 3px;
    position: absolute;
    top: 42px;
    right: 30px;
    width: 310px;
    max-height: 80vh;
    height: auto;
    background-color:var(--branco);
    z-index: 9999;
    box-shadow: var(--shadow);
    border-radius: 8px;
    overflow: auto;
  }
  
  .notificationItem {
    position: relative;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 2px;
    min-height: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 10px;
  background-position-x: 10px;
  background-position-y: 5px;
  }
  
  .notificationItem p {
    margin-top: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 4 ;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    max-height: 90px;
  text-align: start;
  }
  
  .notificationItem h1 {
    font-size: 8px;
    font-weight: 900;
    margin-left: 15px;
    color: var(--blue);
  }
  
  
  
  .notificationItem span{
    font-size: 7px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 2px;
  }
  .notificationItem i {
    font-size: 10px;
    position:absolute;
    top: 5px;
    right: 5px;
  }
  .notificationItem div {
    margin:5px 0 5px 0 ;
    display: flex;
    justify-content: center;
   width: 30px;
   font-size: 10px;
   background-color: var(--blue);
      color: white;
      font-weight: 900;
      border-radius: 5px;
  }
  .notificationItem.pending {
    background-color: #e8f0fe;
  }
  .notificationItem:hover {
    background-color: #ebebeb;
  }

  #inputBuscaTudo {
    width: 400px;

    text-align: center;
  }