@font-face {
    font-family: "Bold";
    src: url(../fonts/amiko/Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: "black";
    src: url(../fonts/black.ttf);
    font-display: block;
}

@font-face {
    font-family: "SemiBold";
    src: url(../fonts/amiko/SemiBold.ttf);
    font-display: block;
}

@font-face {
    font-family: "Regular";
    src: url(../fonts/amiko/Regular.ttf);
    font-display: block;
}

.shadeYellow {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.shadeBlue {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.shadeRed {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.menu_user {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    max-width: 360px;
    height: auto;
    overflow: auto;
    background-color: var(--branco);
    z-index: 999999;
    /* border-left: 1px solid var(--linecolor); */
    box-shadow: var(--shadow);
    border-radius: 7px;
    padding: 0px;
}

.light {
    --text: #101820;
    --roxo: #c68de0;
    --black: #202c33;
    --blackgray: #5B5B5B;
    --easyred: #f91e1e;
    --offred: #fff6f6;
    --easygreen: #5fae85;
    --offgreen: #e1ffe1;
    --branco: #ffffff;
    --cinza: #FAFAFA;
    --linecolor: #D9D9D9;
    --offyellow: #FFFACD;
    --yellow: #FAE849;
    --offverde: #E0FFDF33;
    --verde: #7DB87B;
    --offblue: #E9EEFF;
    --offblueshadow: #ccd7fa;
    --blueshadow: #8F97B4;
    --blue: #335fff;
    --lineblue: #002ab7;
    --bluedark: #313850;
    --blueshtrans: #8f97b49f;
    /* Logos */
    --logoGreen: #78E75A;
    --logoShadow: #5EC363;
    --lYellow: #febc1f;
    --lRed: #f45170;
    --shadow: 0px 0px 6px -3px black;
    --lineargradiente: linear-gradient(rgba(36, 28, 21, .1) 1px, transparent 0), linear-gradient(90deg, rgba(36, 28, 21, .1) 1px, transparent 0);
}

.dark {
    --text: #f4faff;
    --roxo: #c68de0;
    --black: rgb(241 241 241);
    --blackgray: #ffffff;
    --easyred: #f91e1e;
    --offred: #fff6f6;
    --easygreen: #5fae85;
    --offgreen: #e1ffe1;
    --branco: #0d0d0d;
    --cinza: #202c33;
    --linecolor: #364147;
    --offyellow: #FFFACD;
    --yellow: #FAE849;
    --offverde: #E0FFDF33;
    --verde: #7DB87B;
    --offblue: #E9EEFF;
    --offblueshadow: #ccd7fa;
    --blueshadow: #8F97B4;
    --blue: #335fff;
    --lineblue: #002ab7;
    --bluedark: #313850;
    --blueshtrans: #8f97b49f;
    /* Logos */
    --logoGreen: #78E75A;
    --logoShadow: #5EC363;
    --lYellow: #febc1f;
    --lRed: #f45170;
    --shadow: 0px 0px 6px -3px black;
}


/* Works on Firefox */

* {
    scrollbar-width: 5px;
    scrollbar-color: var(--blue) var(--cinza);
    background-color: transparent;
    color: var(--text);
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--cinza);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--linecolor);
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Regular", sans-serif;
}

header {
    z-index: 999999;
}

body {
    background-color: var(--branco);
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

div#aviso {
    background-color: var(--branco);
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-end;
    max-height: 80vh;
    overflow: auto;
    box-shadow: var(--shadow);
}

div#aviso h1 {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--blue);
}

div#aviso .aviso {
    /* padding: 5px; */
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    color: var(--text);
}

div#aviso button#fechar_aviso {
    padding: 10px 16px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    text-align: left;
    cursor: pointer;
}

div#aviso button#aceitar_aviso {
    padding: 10px 16px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    text-align: left;
    cursor: pointer;
}

div#aviso button#rejeitar_aviso {
    padding: 10px 16px;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    text-align: left;
    cursor: pointer;
    margin-right: 5px;
    color: var(--blue);
}

div#aviso h4 {
    color: var(--text);
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: 1px;
}

div#aviso li {
    margin-bottom: 12px;
    color: var(--text);
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: var(--text);
}

p {
    font-weight: 100;
    color: var(--blackgray);
}

label {
    font-weight: 500;
    color: var(--text);
}

span {
    font-weight: 200;
}

hr {
    border: 0;
    width: 100%;
    border-bottom: 1px solid var(--linecolor);
}

.error {
    position: fixed;
    text-align: center;
    top: 8px;
    right: 8px;
    z-index: 999999;
    background-color: var(--offred);
    padding: 10px;
    border: 2px solid var(--easyred);
    color: var(--easyred);
    border-radius: 5px;
}

.sucess {
    position: fixed;
    text-align: center;
    top: 8px;
    right: 8px;
    z-index: 999999;
    background-color: var(--offgreen);
    padding: 10px;
    border: 2px solid var(--easygreen);
    color: var(--easygreen);
    border-radius: 5px;
}

input[type="search"] {
    background-color: var(--cinza);
    color: var(--black);
    padding: 5px;
    border: 0;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 10px;
    transition: 0.2s;
    border: 1px solid var(--linecolor);
}

.light input[type="search"] {
    background-image: url(../img/procurar-preto.svg);
}

.dark input[type="search"] {
    background-image: url(../img/procurar-branco.svg);
}

input[type="email"] {
    text-transform: lowercase;
}

textarea {
    width: 100%;
    height: 82px;
    /* resize: none; */
    background-color: var(--cinza);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--linecolor);
    max-width: 100%;
    min-width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btmCircular {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border: 0;
    background-color: var(--cinza);
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 0.5px;
}

.btmCircular:hover {
    background-color: var(--blue);
    color: var(--text);
}

.btmCircular.ativo {
    background-color: var(--blue);
    font-weight: 600;
    color: white;
}

.btmCircular i {
    margin-right: 3px;
    margin-bottom: -1px;
    color: var(--text);
}

.btmCircular.ativo i {
    color: white;
}

.slideRight {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    overflow: auto;
    background-color: var(--branco);
    z-index: 999999;
    border-left: 1px solid var(--linecolor);
}

.botoes {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.botoes button {
    margin-left: 12px;
    padding: 10px 28px;
    border: 0;
    background: transparent;
    font-family: 'Bold';
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
}

.botoes button.yes {
    background-color: var(--blue);
    color: white;
}

input#pesquisa_topo {
    width: 100%;
    max-width: 360px;
    background-color: var(--branco);
    padding: 10px;
    padding-left: 30px;
}

div#divforms {
    width: 100%;
}