@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

/* @import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'); */

.workspace {
    background-color: var(--branco);
    padding: 0px;
    border-radius: 7px;
    box-shadow: var(--shadow);
    width: 90%;
    height: 95%;
    max-width: 1200px;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.workspace i.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.workspace h1 {
    font-size: 18px;
}

.workspace p {
    font-size: 12px;
}

.areademontagem {
    width: 70%;
    height: 100%;
    background-color: var(--cinza);
    background-image: var(--lineargradiente);
    background-size: 30px 30px;
    overflow: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.menudeconfiguracao {
    position: relative;
    width: 30%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    box-shadow: var(--shadow);
}

.container {
    width: 100%;
    text-align: center;
    padding: 0px 0px 10px 0px;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

button.btm {
    padding: 5px 13px;
    border: 0;
    border-radius: 50px;
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
    cursor: pointer;
    height: 32px;
}

.workspace #editDocument {
    background-color: var(--branco);
    padding: 38px;
    float: left;
    position: relative;
    box-shadow: var(--shadow);
    margin-bottom: 10px;
    margin-top: 60px;
    width: 95%;
    max-width: 600px;
    height: auto;
}

.workspace table {}

#editDocument.landscape {
    width: 848.71px;
    height: 600px;
}

.configBlocks {
    padding: 10px;
    border: 1px solid var(--linecolor);
    background-color: var(--branco);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
    width: 480px;
    left: 50%;
    position: relative;
    margin-left: -240px;
    margin-bottom: 10px;
}

.opt {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;
    border: 0;
    background-color: var(--cinza);
    border-radius: 5px;
    padding: 10px;
}

.opt input {
    display: none;
}

.opt i {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.opt.selected {
    background-color: var(--blue);
}

.opt.selected i {
    color: white;
}

input[type="number"] {
    height: 32px;
    width: 50px;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--linecolor);
    margin: 5px;
}

.configBlocks button.btm {
    margin: 5px;
}

div.bloco {
    padding: 10px;
    border: 2px dashed var(--linecolor);
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

div.frame {
    padding: 5px;
    border: 1px dashed var(--linecolor);
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

div.bloco.row {
    flex-direction: row;
}

div.bloco.column {
    flex-direction: column;
}

div.bloco.center {
    justify-content: center;
}

div.bloco.left {
    justify-content: flex-start;
}

div.bloco.right {
    justify-content: flex-end;
}

hr.vertical {
    transform: rotate(90deg);
    margin: 0;
    width: 64px;
    position: relative;
}

.elementos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

input#titulo {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--linecolor);
}

.botoes {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--linecolor);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.botoes button {
    background-color: var(--blue);
    width: 100%;
    color: white;
}

.campos {
    padding: 5px;
    background-color: var(--cinza);
    margin-top: 6px;
    border-radius: 8px;
    max-height: 230px;
    overflow: auto;
}

.campos table {
    width: 100%;
}

input#busca_lista {
    margin-bottom: 10px;
    width: 100%;
}

#listas .divisor {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 400px;
    overflow: auto;
    border: 1px solid var(--linecolor);
    padding: 10px;
    margin-bottom: 10px;
}

label.lineList {
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

label.lineList:hover {
    background-color: var(--cinza);
}

label.lista_escohida {
    width: 100%;
    position: relative;
    padding: 10px;
    float: left;
    background-color: var(--cinza);
    margin-bottom: 10px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

label.lista_escohida i {
    display: flex;
    cursor: pointer;
    color: red;
    opacity: 0;
}

label.lista_escohida:hover i {
    opacity: 1;
}

.campos table tr {
    margin-bottom: 5px;
}

.campos td {
    font-size: 10px;
    padding: 5px;
}

.campos td b {
    font-size: 12px;
}

.campos td input {
    font-size: 12px;
    padding: 5px;
    background-color: var(--blue);
    color: var(--branco);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    width: 100px;
    border: 0;
    position: relative;
    text-align: center;
}

i.fechar {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 99999;
}

select#type {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--linecolor);
    margin-bottom: 10px;
}

.conteudoNew {
    height: 91%;
    overflow: auto;
}