.quadro {
    padding: 20px;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 450px;
    overflow: auto;
    position: relative;
}

.stepOculta {
    display: none;
}

textarea,
input[type="tel"],
input[type="date"],
input[type="time"],
select,
input[type="text"] {
    padding: 10px;
    width: 100%;
    color: var(--black);
    background-color: var(--cinza);
    border: 0;
    transition: 0.2s;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}