.window {
    padding: 20px;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.window #criar {
    background-color: var(--blue);
    color: white;
}

.window h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.window h6 {
    color: var(--blue);
    font-size: 12px;
    margin-bottom: 3px;
}

.window input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
}

.window select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
}

.window select option {}