.content {
    overflow: auto;
}

header#inicial {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

body {
    overflow: auto;
}

header#inicial nav {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header#inicial nav button {
    border: 0;
    padding: 10px 16px;
    display: flex;
    position: relative;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
}

header#inicial nav button.subdestaque {
    background-color: var(--cinza);
    font-weight: 800;
}


header#inicial nav button.destaque {
    background-color: var(--blue);
    color: white;
    font-weight: 800;
}

header#inicial nav button.destaque i {
    color: white;
}

header#inicial nav button i {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0px 5px;
    color: var(--blue);
}
section#hero {
    position: relative;
    margin-top: 88px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section#hero .left,
section#hero .right {
    position: relative;
    width: 50%;
    height: auto;
}

section#hero .left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: var(--blue);
    min-height: 600px;
    height: auto;
}

section#hero .right.background {
    background-image: url(/img/equipe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    height: auto;
    background-size: cover;
}

section#hero .left h1 {
    width: 100%;
    color: white;
    font-size: 38px;
    line-height: 44px;
}


section#hero .left p {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
}
section#hero .left .form button {
    height: 60px;
    width: 100%;
    max-width: 400px;
    background-color: var(--lRed);
    border-radius: 50px;
    font-size: 16px;
    color: white;
    font-family: bold;
    border: 0;
    cursor: pointer;
}

section#hero .left .form input {
    height: 60px;
    width: 100%;
    background-color: white;
    border-radius: 50px;
    padding: 20px 28px;
    font-size: 16px;
    color: var(--blue);
    font-family: bold;
    border: 0;
    padding-right: 70px;
}

section#hero .left .form {

    position: relative;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    height: auto;
    margin-top: 20px;
    border-radius: 50px;

}

.linhabranca {
    width: 50px;
    height: 7px;
    background-color: white;
    border-radius: 0px;
    margin-bottom: 20px;
}

section#hero .servicos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

section#hero .servicos .item {
    padding: 5px 10px;
    font-size: 12px;
    background-color: white;
    border-radius: 50px;
    width: auto;
    position: relative;
    text-align: center;
    color: black;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section#hero .servicos .item i {
    color: var(--blue);
    margin: 3px;
    margin-left: 0;
    display: flex;
    font-size: 16px;
}

section#hero .left button i  {
    color: white;
    margin: 3px;
    margin-left: 0;
    font-size: 16px;
}


section#provasocial {
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

section#provasocial span {
    margin-bottom: 20px;
}
section#provasocial .imagens {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section#provasocial .imagens img {
    height: 40px;
    margin: 20px;
    filter: grayscale(1);
    opacity: 0.5;
}

iframe {
    max-width: 560px;
}

section#solucoes {
    position: relative;
    width: 100%;
    padding: 30px;
    padding-top: 0;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

section#solucoes .quadro {
    position: relative;
    width: 90%;
    min-height: 600px;
    height: auto;
    background-color: var(--offblue);
    border-radius: 30px;
    padding: 20px;
    overflow: hidden;

    box-shadow: var(--shadow);
}

nav.esquerda {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav.esquerda .servicos {
    position: relative;
    width: 94%;
    display: flex;
    scroll-snap-type: x mandatory;
    padding: 20px;
}

nav.esquerda .servicos .item{
    flex-shrink: 0;
    scroll-snap-align: start;
    background-color: white;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
}

nav.esquerda .servicos .item.ativo {
    background-color: var(--blue);
    color: white;
}

nav.esquerda .servicos .item.ativo i {
    color: white;
}

#logo {
    max-width: 180px;
} 

.view {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.view .text {
    width: 40%;
    position: relative;
    text-align: left;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.view .video  {
    width: 60%;
    position: relative;
    text-align: center;
}

.view .video img {
    position: relative;
    width: auto;
    height: 500px;
    border-radius: 10px;
}

.view .text h2 {
    font-size: 34px;
    line-height: 44px;
    font-family: 'Bold';
    font-weight: 800;
    margin-bottom: 20px;
}


.view .text p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.view .text span {    
    font-weight: 100;
    color: var(--blue);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

.view .text .solicite {
    height: 60px;
    padding: 20px 30px;
    background-color: var(--lRed);
    color: white;
    font-size: 15px;
    font-family: 'Bold';
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.view.oculto {
    display: none;
    right: -100%;
}

section#comofunciona {
    position: relative;
    width: 100%;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section#comofunciona h2 {
    padding: 20px;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    font-family: 'black';
}

section#comofunciona p {
    text-align: center;
    max-width: 400px;
    margin-bottom: 20px;
    width: 100%;
}

#menu, #closeMenu {display: none;}

.form a {
    width: 100%;
}

@media (max-width: 930px) {

    #menu {
        display: flex;
        font-size: 32px;
        cursor: pointer;
    }

    #closeMenu {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        font-size: 24px;
    }

    header#inicial nav#acessos {
        display: flex;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 9999;
        background-color: white;
        width: 80%;
        height: 100%;
        box-shadow: var(--shadow);
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    section#hero .right {
        display: none;
    }

    section#hero .left {
        width: 100%;
        padding: 20px;
    }

    section#hero .left h1 {
        width: 100%;
        color: white;
        font-size: 28px;
        line-height: 36px;
    }

    section#hero .left .form {
        position: relative;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        height: auto;
        margin-top: 20px;
        border-radius: 50px;
    }

    section#hero .left .form input {
        margin-bottom: 10px;
    }

    section#hero .left .form button {
        height: 60px;
        width: 100%;
        background-color: var(--lRed);
        border-radius: 50px;
        font-size: 16px;
        color: white;
        font-family: bold;
        border: 0;
        cursor: pointer;
        margin-left: 0;
    }

}