.conteudo {
    width: 100%;
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

section.workspace {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--blue) 50%, #FFF 50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    z-index: 1;
}

header {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 16px;
    text-align: center;
}

header img#logo {
    height: 32px;
}

.oculto {
    display: none;
}

.cliente {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
    padding-bottom: 10px;
    color: white;
    padding-top: 15px;
}

.empresa {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 16px;
    background-color: white;
}

.empresa img {
    position: relative;
    float: left;
    width: 160px;
    min-height: 20px;
}

.empresa button {
    position: relative;
    float: right;
    padding: 10px 16px;
    border: 0;
    color: white;
    cursor: pointer;
    min-height: 50px;
    font-family: "bold";
    font-size: 16px;
    background-image: url(../assets/icons/wpp.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 11px;
    padding-left: 45px;
    border-radius: 5px;
}

h1 {
    margin: 12px 0px;
    font-size: 26px;
    line-height: 34px;
}

.beneficios,
.diferenciais {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.beneficios ul,
.diferenciais ul {
    position: relative;
    float: left;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px #d6d6d6;
    list-style-type: none;
}

.diferenciais ul {
    margin-top: 20px;
}

.beneficios ul li,
.diferenciais ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
}

.valores {
    position: relative;
    float: right;
    width: 100%;
    height: auto;
    padding: 15px;
    box-shadow: 0px 0px 2px 1px #d6d6d6;
    background: white;
}

.valores h3,
.valores h1 {
    text-align: center;
    font-size: 14px;
}

.valores h1 {
    font-size: 44px;
    line-height: 48px;
    color: var(--black);
}

table {
    width: 100%;
    background: transparent;
    color: var(--black);
}

table tr td {
    padding: 5px;
    font-weight: 800;
    color: var(--black);
    border-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
}

#contratar {
    position: relative;
    /* float: left; */
    width: 100%;
    height: 70px;
    font-size: 18px;
    text-transform: uppercase;
    /* margin-top: 18px; */
    /* margin-bottom: 5px; */
    background-color: #31cf32;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    cursor: pointer;
    border-bottom: 3px solid #006700;
    color: white;
    font-weight: 900;
    font-family: "bold";
    border-radius: 3px;
    margin-left: 0;
}

footer {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 20px;
    color: white;
    background-color: var(--blue);
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}

.info_final,
.dados_consultor,
.whats_consultor {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

h4.rodape {
    color: white;
    margin-top: 25px;
    font-size: 13px;
    font-family: "bold";
    width: 100%;
    position: relative;
    float: left;
}

.tudo {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
}

.container {
    position: relative;
    float: left;
    width: 50vw;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    left: 50%;
    margin-left: -25vw;
}

.container button {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: white;
    border: 00;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "bold";
}

.container h2 {
    margin-bottom: 15px;
}

.container input,
select {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid var(--border);
    border-radius: 3px;
    font-size: 16px;
    padding: 5px;
}

.container label {
    position: relative;
    float: left;
    width: 100%;
}

.container input.check {
    width: auto;
    margin: 0;
    height: auto;
    padding: 0;
    border: 1px solid var(--border);
}

.container label.check {
    width: auto;
    margin: 0;
    height: auto;
    padding: 10px;
    border: 1px solid var(--border);
    margin-top: 10px;
    margin-bottom: 20px;
}

.caixa {
    position: relative;
    float: left;
    width: 100%;
    max-width: 800px;
    padding: 12px 15px;
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.line .left {
    width: 60%;
    padding: 10px;
}

.line .right {
    width: 40%;
    padding: 10px;
}

.cliente span {
    color: white;
}

.cliente span b {
    color: white;
    font-weight: 800;
}

footer span {
    color: white;
}

i.fi.fi-rr-heart {
    color: red;
}

a#afterPe h4 {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--black);
    margin-top: 0;
}

.botoes {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .line .left {
        width: 100%;
    }
    .line .right {
        width: 100%;
    }
}