.divsetsign {
    position: relative;
    width: 100%;
    max-width: 600px;
    background-color: var(--branco);
    box-shadow: 0px 0px 3px -1px var(--blackgray);
    border-radius: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 96vh;
    overflow: auto;
}

i#closeAll {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    z-index: 99;
}

.textInputFile {
    position: relative;
    border: 3px dashed var(--linecolor);
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'bold';
    color: var(--verde);
    font-size: 14px;
    margin-bottom: 10px;
    float: left;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--offverde);
}

.textInputFile i {
    color: var(--verde);
    font-size: 14px;
}

label i {
    color: var(--blue);
    font-size: 10px;
}

input#newPdf {
    display: none;
}

.pdf {
    position: relative;
    width: 100%;
    padding: 20px;
}

canvas.preview_pdf {
    position: relative;
    width: 85%;
    height: auto;
    margin-bottom: 10px;
}

.render {
    position: relative;
    width: 100%;
    height: 240px;
    display: none;
    border: 1px solid var(--linecolor);
    padding: 27px 5px;
    background-color: var(--black);
    overflow: auto;
    text-align: center;
}

h3.title_sign {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Regular';
    font-weight: 600;
    margin-top: 10px;
    float: left;
    width: 100%;
}

h6 {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 14px;
    width: 100%;
}

p.info {
    font-size: 12px;
    margin-top: -10px;
    float: left;
}

.view {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    /* background-color: rebeccapurple; */
}

div#maps {
    position: relative;
    width: 30%;
    background-color: var(--blackgray);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.botoes {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid var(--linecolor);
}

.botoes button {
    margin-left: 12px;
    padding: 10px 16px;
    border: 0;
    background: transparent;
    font-family: 'Bold';
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
}

.botoes button.yes {
    background-color: var(--blue);
    color: white;
}

.addEmail {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    margin-bottom: 20px;
}

.addNewEmail {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
    margin-bottom: 20px;
}

button#addSignatario {
    padding: 10px 14px;
    border: 0;
    background-color: var(--blue);
    color: white;
    font-family: 'Bold';
    cursor: pointer;
}

input[type="email"] {
    padding: 10px;
    border: 0;
    background-color: transparent;
    width: 81%;
    margin: 0;
    padding-left: 37px;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px;
}

.signer {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--blue);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 46px;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
    height: 56px;
}

.signer i {
    color: white;
    font-size: 18px;
    margin-bottom: -7px;
    cursor: pointer;
}

.signer span {
    font-weight: 600;
    color: var(--branco);
    font-size: 14px;
}

label.selected {
    font-size: 12px;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.propostas label,
label.documento {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px;
    font-size: 14px;
    background-color: var(--cinza);
    margin-bottom: 5px;
    cursor: pointer;
}

.propostas label input,
label.documento input {
    margin-right: 5px;
}