/* .geral {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.geral h1 {
    position: relative;
    width: 100%;
    max-width: 800px;
    text-align: left;
    font-family: 'Bold';
    font-size: 24px;
    margin-bottom: 12px;
} */

.tabela_time {
    position: relative;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.tabela_time .linha {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    padding: 20px;
    border-bottom: 1px solid var(--linecolor);
    border-top: 1px solid var(--linecolor);
    margin-bottom: -1px;
    cursor: pointer;
    transition: 0.2s;
}

.tabela_time .linha:hover {
    box-shadow: var(--shadow);
    border-radius: 10px;
    border: 1px solid transparent;
    z-index: 9999;
}

.tabela_time .linha.head:hover {
    box-shadow: none;
}

.tabela_time .linha td,
.tabela_time .linha th {
    text-align: left;
}

.tabela_time .linha.head {
    border: 0;
}

.tabela_time .linha.head th {
    font-weight: 900;
    font-size: 10px;
}


/* .geral button {
    text-align: center;
    width: 190px;
    background-color: var(--blue);
    color: white;
} */

.geral .header {
    position: relative;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

button.circulo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    margin: 5px;
}

.time_vazio {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-image: url(../img/icone_vazado.svg);
    background-position: center;
    background-size: 260px;
    background-repeat: no-repeat;
}

.count-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    border: 1px solid var(--linecolor);
    background-color: var(--branco);
    border-radius: 10px;
}

@media (max-width: 500px) {
    .geral {
        position: relative;
        height: auto;
        width: 100%;
        padding: 20px;
        top: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 530px) {
    .content {
        padding: 10px;
        padding-top: 10px;
        transition: 0.3s;
        overflow: auto;
        background-color: var(--cinza);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0px;
        height: 90%;
    }
    .bemvindo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 12px;
    }
    header {
        position: fixed;
        top: auto;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: var(--branco);
        border-bottom: 0px;
        border-top: 1px solid var(--linecolor);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        height: 10%;
    }
}