.window {
    padding: 20px;
    background-color: var(--branco);
    box-shadow: var(--shadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 95vh;
    overflow: auto;
    width: 100%;
    max-width: 500px;
}

.contents.dados,
.contents.permissions {
    width: 100%;
}

.window #atualizarPermissions,
.window #criar,
.window #atualizarMembro {
    background-color: var(--blue);
    color: white;
}

.window h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.window h6 {
    color: var(--blue);
    font-size: 12px;
    margin-bottom: 3px;
}

.window input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
}

.window select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--linecolor);
    border-radius: 5px;
}

.window nav button {
    padding: 5px;
    border: 0;
    border-bottom: 3px solid var(--cinza);
    color: var(--text);
    transition: 0.2s;
    cursor: pointer;
}

.window nav button:hover {
    border-bottom: 3px solid var(--blue);
}

.window nav button.ativo {
    border-bottom: 3px solid var(--blue);
}

.window .context {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--cinza);
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid var(--linecolor);
    transition: 0.2s;
}

.window .context:hover {
    box-shadow: var(--shadow);
}

.window .context label {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
}

.window .context label input {
    margin: 0;
    margin-right: 4px;
}

button.del {
    position: relative;
    width: 100%;
    padding: 5px;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    color: var(--blue);
    cursor: pointer;
    margin-bottom: 10px;
}