<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pipedone - CRM customizável para acelerar suas vendas, gerenciar tarefas e o que mais você quiser.</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/uicons.css">
    <link rel="stylesheet" href="/css/uicons-solid-straight.css">
    <link rel="stylesheet" href="/css/webfonts/uicons-regular-rounded.css">    


    <script src="/lib/axios.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/mask.js"></script>
    <script src="/lib/slick.js"></script>
    {{!-- <script src="/lib/dragscroll.js"></script> --}}
    
    <script src="/lib/socket.io.js"></script>
    
</head>
{{!-- light --}}
{{!-- dark --}}
<body class="light">
    
    {{!-- <div id="chat"></div> --}}
    <div class="content">
        {{{body}}}
    </div>
    <script src="/js/main.js"></script>

</body>
</html>